// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family: 'Lato';
}

body {
    overflow: hidden;
}
.structure-toolbar,
.structure-header {
    height: 74px;
    background: #F9F9F9 !important;
}

// parte do menu
.structure-toolbar {
    padding-top: 23px;
    border: none;
}

.user-photo {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    // padding: 0.375rem 0;
    // object-fit: cover;
}

.header .user .userPhoto {
    padding: 0.375rem 0;
    object-fit: cover;
}

/* #conteudo{
       padding-top: 110px;
    } */

.message,
.notify,
.user {
    margin: 0px 12px;
}

/*   para dar espaço na seta   */
// .photo-user{
//     margin-right: 5px;
// }
// parte do menu (parte das mensagens e notificação)
.message,
.notify {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color-br-gray);
    border-radius: 6px;
    max-width: 100%;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

/* bolinha da notificação */
.notify .icon-notify .notification,
.message .icon-message .notification {
    background-color: var(--color-highlight);
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    bottom: 34px;
}

// parte do menu (parte do dropdown)
.dropdown-user-admin {
    max-width: 100%;
    width: 290px;
    height: 192px;
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
}

/* img do predio */
.dropdown-company-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

/* paragrafo do alterar empresa */
.dropdown-company-menu p {
    padding-left: 10px;
    margin-top: 17px;
    color: var(--color-black);
    font-family: "Lato";
    font-size: 14px;
    font-weight: bold;
}

/* parte do select */
.select-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* parte do select (tamanho e fonte) */
.form-select {
    max-width: 100%;
    width: 110px;
    height: 35px;
    margin-left: 10;
    font-family: "Lato";
    font-size: 14px;
    font-weight: bold;
    color: var(--color-black);
}

/* parte do select (input do OK) */
.select-dropdown input {
    width: 40px;
    height: 35px;
    border-radius: 4px;
    padding-left: 9px;
    background-color: var(--color-highlight);
    color: var(--color-white);
    margin-right: 1px;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
}

/* parte do select (input do OK) */
.select-dropdown input:hover {
    background-color: var(--color-highlight);
    color: var(--color-white);
}

/* linha divisoria */
hr {
    border-bottom: 100px;
    color: #CFD4D9;
}

/* parte de sair */
.dropdown-exit {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-right: 100px;
    cursor: pointer;
}

/* parte de sair(img) */
.dropdown-exit img {
    transform: translate(-40px, -15px);
}

/* parte de sair(paragrafo) */
.dropdown-exit p {
    transform: translate(-30px, -8px);
    color: var(--color-black);
    font-family: "Lato";
    font-size: 14px;
    font-weight: bold;
}

/* menu */
/* Sidebar */
// .q-page, .q-page-container {
//     border: none;
//     background: var(--padro-color-white, #F9F9F9) !important;
//   }
// parte do menu


// parte do aside
.q-drawer {
    z-index: 2000;
    border-radius: 0px 15px 15px 0px;
    border: none;
    max-width: 100% !important;
    width: 220px !important;
    height: 80vh !important;
    background: var(--remaza-color-linear, linear-gradient( #CBDAFC, #D1E7F3)) !important;
    box-shadow: none;
}

.q-drawer--left.q-drawer--bordered {
    border-right: none;
    top: 30px !important;
}
// parte da página
.q-page-container {
    //padding-left: 297px !important;
    border: none;
    padding-top: 50px !important;
    background: var(--padro-color-white, #F9F9F9) !important;
}
q-page{
    padding-left: 250px !important;
}
// parte do botão 'hamburguer'
.q-btn-menu img {
    width: 60px;
    height: 20px;
    object-fit: cover;
}

/* logo */
.logo img {
    min-width: 100%;
    width: 50px;
    padding: 23px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pra tirar o azul do link */
.nav-link:hover,
.nav-link:focus {
    color: var(--color-black);
}
.menu{
    margin-top: 15px;
}
// parte do aisde (links)
.menu a {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 600;
    margin-left: 4px;
    padding: 5px;
    text-decoration: none;
}

// .restaurante{
//     background-color: var(--remaza-color-tag, #DFEAFF);
// }

// parte do aisde (links)
.menu a:active {
    color: var(--color-black);
}

// parte do aisde (imagens ao lado dos links)
.menu a img {
    padding: 3px;
}

// parte do aisde (links)
.menu ul li {
    padding: 12px 0px 0px 0px;
}

// .footer{
//     background-color:var(--padro-color-white, #F9F9F9);
//     color: var(--remaza-color-secondary, #102155);
//     font-family: Lato;
//     font-size: 13px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     height: 5vh !important;
// }


@media (min-width: 1007px) {
    .q-drawer {
        height: 91vh !important;
    }

    .q-btn-menu img {
        display: none;
    }
}

@media (max-width: 318px) {
    .message {
        display: none;
    }

    .notify {
        display: none;
    }
}

:root {
    --color-red: #D55A67;
    --color-primary: #00AEEF;
    --color-secondary: #102155;
    --color-highlight: #F48120;
    --color-white: #fff;
    --color-black: #0B0B0B;
    --color-light-gray: #C0BEBF;
    --color-gray: #928F91;
    --color-bg: #E3F5FF;
    --color-tag: #DFEAFF;
    --color-br-gray: #F0F0F0;
    --color-yellow: #FFF3D4;
    --color-hover: #3F76DF;
    --color-green: #B2DE27;
    --color-cor1: #CBDAFC;
    --color-cor2: #D1E7F3;
    --color-linear: linear-gradient(#CBDAFC, #D1E7F3);
    --color-bg-gray: #F0F0F0;
}